name: Ansible Lint  # feel free to pick your own name
"on": [push, pull_request]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - name: Set up Python
        uses: actions/setup-python@v6
        with:
          python-version: '3.12'
      - name: Run ansible-lint
        uses: ansible/ansible-lint@main
        with:
          setup_python: false
